* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#nav-bar {
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #a1ba17, #307bdd);
  padding: 0 !important;
}

.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  text-align: left;
}

.fa-bars {
  color: #fff;
  font-size: 30px impo !important;
}

/*Banner Section*/
#banner {
  background-image: linear-gradient(to right, #a1ba17, #307bdd);
  color: #fff;
  padding-top: 5%;
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

.play-btn {
  width: 45px;
  margin: 20px;
}

#banner a {
  color: #fff;
  text-decoration: none;
}

.img-fluid {
  height: 500px;
}

.bottom-img {
  width: 100%;
  height: 200px;
}

/*Services Section*/

#services {
  padding: 80px 0;
}

.services img {
  width: 100px;
  margin-top: 20px;
}

.services {
  padding: 20px;
}

.services h4 {
  padding: 5px;
  margin-top: 25px;
}

.title::before {
  content: "";
  background-image: linear-gradient(to right, #a1ba17, #307bdd);
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: "";
  background-image: linear-gradient(to right, #a1ba17, #307bdd);
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: block;
  transform: translateY(8px);
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a1ba17, #307bdd);
}

#About-us {
  background: rgb(173, 211, 85);
  padding: 80px 0;
}

.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 10%;
}

#About-us ul li {
  margin: 10px 0;
}
#About-us ul {
  margin-left: 20px;
}

/* testimonial
*/
#testimonial {
  margin: 100px 0;
}

.testimonial {
  border-left: 4px solid #7b1798;
  margin: 50px 50px;
}

.testimonial img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}

/*Social Meida*/
#social-media {
  background: rgb(241, 236, 236);
  padding: 100px 0;
}
#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.social-icons img {
  width: 60px;
  height: 60px;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translate(-10px);
}

/*footer*/
#footer {
  background-image: linear-gradient(to right, #a1ba17, #307bdd);
  color: #f8f9fa;
}

.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 120px;
  height: 40px;
  margin-bottom: 20px;
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #a1ba17, #307bdd);
}

.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 20px;
  background-image: linear-gradient(to right, #a1ba17, #307bdd);
}

hr {
  background-color: #fff;
}
.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
